body {
  padding-top: 50px;
}

.gallery {
  border: 1px black solid;
  padding-top: 5px;
}

.gallery:hover{
    background-color: lightgray;
}

.thumbnail{
    margin-left: 15%;
    margin-top: 20px;
    object-fit: cover;
    height: 230px;
    width: 230px;
}

.pictureDeleteButton {
    margin-top: 255px;
    margin-left: -75px;
}

.content {
    margin-bottom: 20px;
}