body {
  padding-top: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 60%;
}

.gallery {
  border: 1px black solid;
  padding-top: 5px;
}

.gallery:hover{
    background-color: lightgray;
}

.thumbnail{
    margin-left: 15%;
    margin-top: 20px;
    object-fit: cover;
    height: 230px;
    width: 230px;
}