body {
  padding-top: 50px;
}

.gallery {
  border: 1px black solid;
  padding-top: 5px;
}

.gallery:hover{
    background-color: lightgray;
}

.thumbnail{
    margin-left: 15%;
    margin-top: 40px;
    object-fit: cover;
    height: 230px;
    width: 230px;
}

.pictureDeleteButton {
    margin-top: 275px;
}

.content {
    margin-bottom: 20px;
}

.picture-name {
    position: absolute;
    margin-top: 15px;
    margin-left: -80px;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.picture-btn-group {
    margin-left: -75px;
}